---
import Base from '@/ui/layouts/base.astro'
import { config } from '@/config'

const metadata = {
  title: config.baseTitle,
  description: config.baseDescription,
  imageUrl: config.baseImage,
  url: config.baseUrl,
}
---

<Base {...metadata}>
  <h1 class="text-4xl font-bold">Hello, world!</h1>
</Base>
