---
import Base from '@layouts/base-layout.astro'
import { config } from '@config/index'

const metadata = {
  title: config.baseTitle,
  description: config.baseDescription,
  imageUrl: config.baseImage,
  url: config.baseUrl,
}
---

<Base {...metadata}>
  <h1 class="text-4xl font-bold">Hello, world!</h1>
</Base>
